@charset "UTF-8";
body{background-color: #E8EBE4;}
.pagebox{
	background-color: #ffffff;
	width: 100%;
	margin: auto;
}

h1{
	font-family: arial, sans-serif;
	font-weight: bold;
	color: #000000;
	font-size: 72px;
	width: 100%;
}

nav{
	background-color: #FFFFFF;
	color: #ffffff;
	padding: 5px;
}

img{
	width: 100%;
	
}

h2{
	font-family: arial, sans-serif;
	color: #8b0000;
	width: 100%;
}

footer{
	text-align: center;
}